/* 	bold text pisati sa <strong>
	italic text pisati s <em>
	jer ih browseri bolje ističu ako se mijenja izgled stranice zbog raznih disability	*/

/* &lt; stands for the less-than sign: <
&gt; stands for the greater-than sign: >
*/

@font-face {
	font-family: "Itim", sans-serif;
	src: local("Itim"), url("/fonts/Itim/itim-regular-webfont.eot"),
		url("/fonts/Itim/itim-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Itim/itim-regular-webfont.woff2") format("woff2"),
		url("/fonts/Itim/itim-regular-webfont.woff") format("woff"),
		url("/fonts/Itim/Itim-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "playfair_displaybold_italic";
	src: url("/fonts/PlayfairDisplay/8playfairdisplay-bolditalic-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplay-bolditalic-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "playfair_display_scblack";
	src: url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "roboto_condensedregular";
	src: url("/fonts/Roboto/robotocondensed-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/robotocondensed-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotoregular";
	src: url("/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	color-scheme: dark light;
}

/*BACKGROUND SLIKE*/
#index-page-bg {
	background: url(/images/tipkovnica-crna-pozadina.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#images-page-bg {
	background-color: #3b398b;
	/*background: url(/images/tamna_yousef-espanioly-NmbmyVCZuPY-unsplash.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
}
body {
	font-family: robotoregular;
	color: rgb(190, 185, 185);
	padding-left: 70px;
	padding-right: 70px;
}

/*.body-font-dark {
	font-family: sans-serif;
	color: rgb(8, 11, 87);
	padding-left: 70px;
}*/

header {
	background-color: cyan;
	color: #4e4e53;
	padding: 15px;
}

.example {
	background-color: rgb(143, 197, 244);
	max-width: fit-content;
}
p {
	font-size: 16px;
}

.text-visio-code {
	color: rgb(232, 55, 152);
}

h1 {
	color: rgb(247, 247, 248);
}

h2 {
	color: rgb(63, 61, 67);
}
h3 {
	font-family: playfair_display_scblack;
	font-size: 50px;
	color: #c96242;
	text-align: center;
}

h4 {
	font-family: "Itim ";
	color: rgb(227, 240, 52);
	font-size: 20px;
}

/*div {
  background-color: rgb(205, 239, 227);
  max-width: fit-content;
  border: solid 1px;
  border-style: dashed;
  border-radius: 10px;
  border-color: #000099;
  padding: 10px;
}*/

/* .even-columns > * {
	flex: 1;
} */

/*BOX MODEL NA STRANICI CSSBOXMODEL*/
/* the CSS BOX MODEL - slaže se po sljedećem redu:
	margin:
	border:
	padding: */

.box-cssboxmodel {
	background: rgb(187, 237, 187);
	width: fit-content;

	margin-top: 50px;
	margin-bottom: 40px;
	margin-left: 20px;

	border-left-width: 10px;
	border-left-color: rgb(27, 14, 209);
	border-left-style: solid;

	border-right-width: 20px;
	border-right-color: rgb(138, 68, 235);
	border-right-style: dotted;

	border-bottom-width: 15px;
	border-bottom-color: red;
	border-bottom-style: double;

	padding: 100px;
}

.box-lightbackground {
	color: rgb(27, 14, 209);
}

.box-elements {
	background-color: #464649;
	border: solid;
	border-radius: 10px;
	border-color: antiquewhite;
	padding: 20px;
	margin-block-start: 5px;
	width: fit-content;
}

/*LINKOVI*/

/* unvisited link */
a.link {
	color: #0000ff;
}
/* visited link */
a:visited {
	color: rgb(223, 43, 166);
}
/* mouse over link */
a:hover {
	color: rgb(11, 224, 82);
}

/*a::before {
  content: "🔗";
}*/

/*.local-link::before {
  content: url("../../media/examples/firefox-logo.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}*/

.shoutout {
	text-align: end;
	font-size: 10px;
}

/*TABLICE*/
/*TABLICA NA STRANICI ELEMENTI*/

.table-elementi table {
	border-collapse: collapse;
	border: solid rgb(200, 200, 200);
	border-radius: 5px;
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 14px;
}

.table-elementi caption {
	padding: 10px;
	caption-side: top;
}

.table-elementi thead {
	background-color: #0a3c52;
	color: #fff;
	padding: 15px 10px;
}

.table-elementi tbody {
	background-color: #1f5f2f;
}

.table-elementi td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 30px;
	text-align: center;
}

/*TABLICA NA STRANICI TABLICA-PRIMJER*/

.kratki-naziv-tablice table {
	border-collapse: collapse;
	border: 1px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 14px;
}

.kratki-naziv-tablice caption {
	padding: 10px;
	caption-side: top;
	padding: 20px;
}

.kratki-naziv-tablice thead {
	background-color: #e5881c;
	color: #fff;
}

.kratki-naziv-tablice thead tr {
	height: 40px;
}

.kratki-naziv-tablice tbody {
	background-color: #5a7e1b;
}

.kratki-naziv-tablice td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 10px;
	text-align: center;
}

.kratki-naziv-tablice tfoot {
	background-color: #ae1cda;
}

/*TABLICA NA STRANICI SIMBOLI ZNAKOVI*/

.table-simboli-znakovi table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 0.8rem;
}

.table-simboli-znakovi caption {
	padding: 10px;
	caption-side: top;
}

.table-simboli-znakovi tbody {
	background-color: #1f5f2f;
}

.table-simboli-znakovi td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 30px;
	text-align: center;
}

/*FLEX BOX U TABLICE* (https://css-tricks.com/snippets/css/a-guide-to-flexbox/)/

/*.colum-tablice je kontejner!*/
.column-tablice {
	display: flex;
	/*flex-direction: row;   ----- ovo je dafult vrijednost!*/
	justify-content: space-around;
	align-items: flex-start;
	gap: 10px;
	row-gap: 20px;
	column-gap: 20px;
}

/* oznaka > * znači da se sva svojstva odnose na sve child elemenata*/
.column-tablice > * {
	align-self: flex-start;
	text-align: center;
	border: 20px groove rgb(213, 139, 225);
	box-sizing: border-box;
}

/*list-none {
	list-style: "♠";
	list-style-position: outside !important;
}*/

/* MIJENJANJE OZNAKE LISTE*/
.list-spade {
	list-style-type: none;
	margin-left: 0;
	padding-left: 30px;
	text-indent: -30px;
}

.list-spade2::before {
	content: "♠";
	color: rgb(227, 232, 93);
	display: inline-block;
	width: 30px;
	text-indent: 0;
	text-align: center;
}

.button {
	display: inline-block;
	background: rgb(239, 174, 249);
	color: rgb(8, 8, 8);
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
}
