/* 	bold text pisati sa <strong>
	italic text pisati s <em>
	jer ih browseri bolje ističu ako se mijenja izgled stranice zbog raznih disability	*/

/* &lt; stands for the less-than sign: <
&gt; stands for the greater-than sign: >
*/

@font-face {
	font-family: "Itim", sans-serif;
	src: local("Itim"), url("/fonts/Itim/itim-regular-webfont.eot"),
		url("/fonts/Itim/itim-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Itim/itim-regular-webfont.woff2") format("woff2"),
		url("/fonts/Itim/itim-regular-webfont.woff") format("woff"),
		url("/fonts/Itim/Itim-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display italic";
	src: url("/fonts/PlayfairDisplay/8playfairdisplay-bolditalic-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplay-bolditalic-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display scblack";
	src: url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto_Condensed";
	src: url("/fonts/Roboto/robotocondensed-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/robotocondensed-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/*html {
	color-scheme: dark light;
	height: 100%;
}*/

/*BACKGROUND SLIKE*/
#index-page-bg {
	background: url(/images/tipkovnica-crna-pozadina.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#images-page-bg {
	background-image: linear-gradient(
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	/*background: url(/images/tamna_yousef-espanioly-NmbmyVCZuPY-unsplash.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

header {
	background-color: rgb(235, 249, 249);
	text-align: center;
	margin-bottom: 30px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.nav-list li {
	flex-grow: 1;
	flex-shrink: 1;
}

body {
	font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
	color: rgb(190, 185, 185);
	margin: 0;
	font-size: 18px;
	min-height: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	color: rgb(253, 253, 253);
}

.grid-index-column {
	display: grid;
	gap: 1rem;
	/*grid-template-columns: 1fr 1fr 1fr */
	/*grid-template-columns: repeat(3, 1fr);*/
	grid-template-columns: 20% 1fr 1fr;
	margin: 20px;
}

.index-column1 {
	grid-column: span 2;
	text-align: left;
	padding-bottom: 3remrem;
}

.index-column2 {
	grid-column-start: 2;
	text-align: center;
	border: solid;
	border-color: #41dfff;
	border-radius: 100%;
	padding: 10%;
}

.index-column3 {
	grid-column-start: 3;
	text-align: center;
	text-align: center;
	border: solid;
	border-color: #41dfff;
	border-radius: 100%;
	padding: 10%;
}

.index-column4 {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 3;
}
/*@media (min-width: 40em) {
	.grid-index-column {
		grid-template-columns: repeat(2, 1fr);
	}
}*/

.made-by {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 10px;
	float: left;
	background-color: red;
}

.shoutout {
	text-align: end;
	font-size: 10px;
	float: right;
	background-color: #ae1cda;
}

.button {
	display: inline-block;
	min-width: fit-content;
	background: rgb(88, 86, 88);
	color: rgb(8, 8, 8);
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 10px;
}

ul li {
	list-style-type: none;
}
.example {
	background-color: rgb(143, 197, 244);
	max-width: fit-content;
}

.text-visio-code {
	color: rgb(232, 55, 152);
}

h1 {
	font-family: "Playfair Display scblack", serif;
	color: #c96242;
	text-align: center;
}

h2 {
	font-family: "Itim ";
	color: rgb(227, 240, 52);
	font-size: 20px;
}
h3 {
	color: rgb(247, 247, 248);
}

h4 {
	color: rgb(63, 61, 67);
}

/*BOX MODEL NA STRANICI CSSBOXMODEL*/
/* the CSS BOX MODEL - slaže se po sljedećem redu:
	margin:
	border:
	padding: */

.box-cssboxmodel {
	background: rgb(187, 237, 187);
	width: fit-content;

	margin-top: 50px;
	margin-bottom: 40px;
	margin-left: 20px;

	border-left-width: 10px;
	border-left-color: rgb(27, 14, 209);
	border-left-style: solid;

	border-right-width: 20px;
	border-right-color: rgb(138, 68, 235);
	border-right-style: dotted;

	border-bottom-width: 15px;
	border-bottom-color: red;
	border-bottom-style: double;

	padding: 100px;
}

.box-lightbackground {
	color: rgb(27, 14, 209);
}

.box-elements {
	background-color: #464649;
	border: solid;
	border-radius: 10px;
	border-color: antiquewhite;
	padding: 20px;
	margin-block-start: 5px;
	width: fit-content;
}

/*LINKOVI*/

/* unvisited link */
a.link {
	color: #5adae0;
}
/* visited link */
a:visited {
	color: rgb(223, 43, 166);
}
/* mouse over link */
a:hover {
	color: rgb(11, 224, 82);
}

/*TABLICE*/
/*TABLICA NA STRANICI ELEMENTI*/

.table-elementi table {
	border-collapse: collapse;
	border: solid rgb(200, 200, 200);
	border-radius: 5px;
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 14px;
}

.table-elementi caption {
	padding: 10px;
	caption-side: top;
}

.table-elementi thead {
	background-color: #0a3c52;
	color: #fff;
	padding: 15px 10px;
}

.table-elementi tbody {
	background-color: #1f5f2f;
}

.table-elementi td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 30px;
	text-align: center;
}

/*TABLICA NA STRANICI TABLICA-PRIMJER*/

.kratki-naziv-tablice table {
	border-collapse: collapse;
	border: 1px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 14px;
}

.kratki-naziv-tablice caption {
	padding: 10px;
	caption-side: top;
	padding: 20px;
}

.kratki-naziv-tablice thead {
	background-color: #e5881c;
	color: #fff;
}

.kratki-naziv-tablice thead tr {
	height: 40px;
}

.kratki-naziv-tablice tbody {
	background-color: #5a7e1b;
}

.kratki-naziv-tablice td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 10px;
	text-align: center;
}

.kratki-naziv-tablice tfoot {
	background-color: #ae1cda;
}

/*TABLICA NA STRANICI SIMBOLI ZNAKOVI*/

.table-simboli-znakovi table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 0.8rem;
}

.table-simboli-znakovi caption {
	padding: 10px;
	caption-side: top;
}

.table-simboli-znakovi tbody {
	background-color: #1f5f2f;
}

.table-simboli-znakovi td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 30px;
	text-align: center;
}

/*list-none {
	list-style: "♠";
	list-style-position: outside !important;
}*/

/* MIJENJANJE OZNAKE LISTE*/
.list-spade {
	list-style-type: none;
	margin-left: 0;
	padding-left: 30px;
	text-indent: -30px;
}

.list-spade2::before {
	content: "♠";
	color: rgb(227, 232, 93);
	display: inline-block;
	width: 30px;
	text-indent: 0;
	text-align: center;
}

/*GRID U TABLICE*/
.column-tablice {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	border: solid red;
}
