/*-----------------HEADER, BODY, MAIN, FOOTER-----------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*----------- h2 FONT ----------------*/
@font-face {
	font-family: "Itim", sans-serif;
	src: local("Itim"), url("/fonts/Itim/itim-regular-webfont.eot"),
		url("/fonts/Itim/itim-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Itim/itim-regular-webfont.woff2") format("woff2"),
		url("/fonts/Itim/itim-regular-webfont.woff") format("woff"),
		url("/fonts/Itim/Itim-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display italic";
	src: url("/fonts/PlayfairDisplay/8playfairdisplay-bolditalic-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplay-bolditalic-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display scblack";
	src: url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff2")
			format("woff2"),
		url("/fonts/PlayfairDisplay/playfairdisplaysc-black-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

/*---------NAV LIST INDEX FONT-----------*/
@font-face {
	font-family: "Roboto_Condensed";
	src: url("/fonts/Roboto/robotocondensed-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/robotocondensed-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"),
		url("/fonts/Roboto/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "lexendextralight";
	src: url("/fonts/Lexend/lexend-extralight-webfont.woff2") format("woff2"),
		url("/fonts/Lexend/lexend-extralight-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "lexendlight";
	src: url("/fonts/Lexend/lexend-light-webfont.woff2") format("woff2"),
		url("/fonts/Lexend/lexend-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/*---- BODY FONT------*/
@font-face {
	font-family: "lexendregular";
	src: url("lexend-regular-webfont.woff2") format("woff2"),
		url("lexend-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/*-------------- END OF FONTS -------------------*/

/*--------------- INDEX PAGE ---------------*/
html {
	height: 100%;
	scroll-behavior: smooth;
}

/*---------------------*/
body {
	font-family: "lexendregular", sans-serif;
	color: rgb(5, 9, 82);
	margin: 0; /*zauzima cijeli prostor ekrana*/
	font-size: 18px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	/*padding: 1rem;*/
	flex: 1;
}

/*------------ IMAGES FOR RESPONSIVE WEB -------------*/
img {
	height: auto;
	max-width: 100%;
}

h1 {
	font-family: "Playfair Display scblack", serif;
	color: #060606;
	text-shadow: 2px 3px 0px #767689;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 20px;
	letter-spacing: 0.2rem;
}

h2 {
	font-family: "Itim ";
	color: rgb(217, 244, 174);
	text-shadow: 2px 3px 0px #767689;
	font-size: 1.8rem;
}
h3 {
	color: rgb(247, 247, 248);
}

h4 {
	color: rgb(63, 61, 67);
}

@media only screen and (max-width: 600px) {
	body {
		font-size: smaller;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1rem;
	}
}

ul li {
	list-style-type: none;
}

.text-visio-code {
	color: rgb(174, 13, 101);
}

/*------------------STIL LINKOVA----------------------------*/

/* unvisited link */
/*a:link {
	color: #5adae0;
	text-decoration: none;
}
/* visited link */
/*a:visited {
	color: rgb(223, 43, 166);
	text-decoration: none;
}
/* mouse over link */
/*a:hover {
	color: rgb(11, 224, 82);
	text-decoration: none;
}

/*-----------------END OF STIL LINKOVA ---------------------*/

/*----------------INDEX PAGE NAV BAR----------------------------*/

.nav-list-index-header {
	box-sizing: border-box;
	margin: 0;
	padding: 15px 10%;
	background-image: linear-gradient(
		to right bottom,
		#5696f2,
		#95a1f1,
		#bdafee,
		#d9c0ed,
		#ecd4ee
	);
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.nav-list-index {
	font-family: "Roboto_Condensed", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: rgb(19, 18, 18);
	text-decoration: none;
}

.nav-links {
	display: inline-block;
	transition: all 0.3s ease 0s;
	padding: 0 10px;
	color: rgb(19, 18, 18);
	text-decoration: none;
}

.nav-links a:link {
	color: rgb(8, 6, 153);
	text-decoration: none;
}

.nav-links a:hover {
	color: rgb(68, 107, 235);
}

.logo-index {
	cursor: pointer;
	margin-right: auto;
}

.index-button {
	font-family: "Playfair Display scblack", sans-serif;
	padding: 9px 25px;
	margin-left: 50px;
	background-color: #bea5ab;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
}

.index-button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e47b9b;
	border-radius: 50px;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.index-button:hover,
.index-button:focus,
.index-button:active {
	color: whitesmoke;
}
.index-button:hover:before,
.index-button:focus:before,
.index-button:active:before {
	transform: scale(1);
}

/*----------------END OF INDEX PAGE NAV---------------------*/

/*----------------INDEX PAGE SECTION 1 ---------------------*/
.index-page-bg::before {
	content: "";
	display: table;
	clear: both;
}

.index-page-bg {
	background-image: linear-gradient(
		to right top,
		#e0c7d5,
		#d8b7d3,
		#caa9d4,
		#b69ed7,
		#9994db,
		#809ae4,
		#5e9fea,
		#24a5ec,
		#00b6ed,
		#00c6e8,
		#3dd4e1,
		#69e1d9
	);
	margin-left: calc(50% - 50vw);
	margin-top: calc(50% - 50vw);
	height: 100%;
	padding: 30px;
	display: block;
	box-sizing: inherit;
	/*overflow: auto;*/
}

.index-page-bg::after {
	content: "";
	display: table;
	clear: both;
}

.grid-index-columns {
	display: grid;
	grid-template-columns: 15% 20% 15% 20% 1fr;
	gap: 1rem;
}

@media only screen and (max-width: 1000px) {
	.grid-index-columns {
		display: flex;
		flex-direction: column;
	}

	.tekst-u-krugu-1 {
		display: none;
	}

	.tekst-u-krugu-2 {
		display: none;
	}
}

.grid-index-column {
	padding: 10px;
}

.grid-index-column:nth-child(1) {
	grid-column: 1 / 3;
	grid-row: 1;
}

.grid-index-column:nth-child(3) {
	grid-column: 3 / 5;
	grid-row: 1;
}

.tekst-u-krugu-1 {
	font-size: 30px;
	text-align: center;
	background-color: #e47b9b;
	padding: 15px 0;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	grid-column: 2 / 3;
	grid-row: 1;
	justify-self: center;
}

.tekst-u-krugu-2 {
	font-size: 30px;
	text-align: center;
	background-color: #e47b9b;
	padding: 12px 0;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	grid-column: 4 / 5;
	grid-row: 1;
	justify-self: center;
}

.p-podsjetnik {
	text-align: center;
	font-family: "Playfair Display scblack";
	color: #e3d5d5;
}

/*-------------- INDEX PAGE SECTION 2 (HTML STRUKTURA) ---------------*/

htmlstruktura-page-bg::before {
	content: "";
	display: table;
	clear: both;
}

.htmlstruktura-page-bg {
	background-color: #71b2e3;
	margin-left: calc(50% - 50vw);
	margin-top: -10px;
	margin-bottom: auto;
	height: 100%;
	padding: 30px;
	display: block;
	box-sizing: inherit;
	/*overflow: auto;*/
}

htmlstruktura-page-bg::after {
	content: "";
	display: table;
	clear: both;
}

.grid-htmlstruktura-columns {
	display: grid;
	grid-template-columns: 60% 1fr;
	gap: 10rem;
}

@media only screen and (max-width: 1400px) {
	.grid-htmlstruktura-columns {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}

	.image-html {
		display: inline-block;
	}

	.image-html-1 {
		width: 80%;
	}
}

.komentar {
	font-size: 1rem;
}

/*--------------- HAMBURGER ZA HTML --------------------*/

.nav-html-link {
	color: whitesmoke;
}

.nav-bar-html {
	position: static;
	width: 100%;
	z-index: 3;
}

.nav-bar-html ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #71b2e3;
}

.nav-bar-html ul a {
	display: flex; /*linkovi po defaultu su inline-block (nemaju margine ni padding), postavljanjem block dajemo više mjesta za klikanje*/
	justify-content: flex-end;
	padding: 10px;
	text-decoration: underline #779dd9;
	/*border-right: 1px solid grey;*/ /*ovo se vidi kad nema hamburgera kao odvajanje linkova*/
	transition: all 10ms;
}

.nav-bar-html ul a:hover {
	font-size: 18px;
	font-size-adjust: 100%;
}

.nav-html-list {
	max-height: 0;
	transition: max-height 0.6s ease-out; /*za smooth otvaranje hamburgera*/
}

/*stavljanje hamburgera u desnu stranu*/
.nav-bar-html .menu-html-icon {
	padding: 25px 15px;
	position: relative;
	float: right; /*POMAK HAMBURGERA U DESNO!*/
	cursor: pointer;
}

.nav-bar-html .menu-html-icon .nav-html-icon {
	background: whitesmoke;
	display: block;
	height: 3px;
	width: 30px;
	position: relative;
	transition: background 0.6s ease-out; /*za pretvaranje crtice u x*/
}

.nav-bar-html .menu-html-icon .nav-html-icon::before {
	background: whitesmoke;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute; /*postavlja pseudo element na isto mjesto kao element -*/
	transition: all 0.2s ease-out;
	top: 8px; /*pomiče pseudo element dolje i stvara novi -*/
}

.nav-bar-html .menu-html-icon .nav-html-icon::after {
	background: whitesmoke;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute; /*postavlja pseudo element na isto mjesto kao element -*/
	transition: all 0.2s ease-out;
	top: -8px; /*pomiče pseudo element iznad elementa i stvara novu -*/
}

.nav-bar-html .menu-html-btn {
	display: none;
}

/* :checked oživljava klikanje na hamburger*/
.nav-bar-html .menu-html-btn:checked ~ .nav-html-list {
	max-height: 150px; /*promjena visine ul liste*/
}

.nav-bar-html .menu-html-btn:checked ~ .menu-html-icon .nav-html-icon {
	background: transparent;
}

.nav-bar-html .menu-html-btn:checked ~ .menu-html-icon .nav-html-icon::before {
	transform: rotate(-45deg);
	top: 0;
}

.nav-bar-html .menu-html-btn:checked ~ .menu-html-icon .nav-html-icon::after {
	transform: rotate(45deg);
	top: 0;
}

@media only screen and (max-width: 700px) {
	.nav-bar-html ul a:hover {
		font-size: smaller;
	}
}

/*-------- HAMBURGER SE PRETVARA U LISTU ---------*/
/*@media (min-width: 1100px) {
	.nav-bar-html li {
		float: left;
	}

	.nav-bar-html li a {
		padding: 20px 30px;
	}

	.nav-bar-html .nav-html-list {
		clear: none;
		float: right;
		max-height: none;
	}

	.nav-bar-html .menu-html-icon {
		display: none;
	}
}*/

/*------ LINKOVI s hover MIJENJAJU BOJU ----------*/

.sweep-to-right {
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
}
.sweep-to-right::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(
		to right,
		#aaf791,
		#62f1b6,
		#00e5d8,
		#00d6f0,
		#34c4f8,
		#4ac2f9,
		#5bc1f9,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
.sweep-to-right:hover,
.sweep-to-right:focus,
.sweep-to-right:active {
	color: #11237a;
}
.sweep-to-right:hover:before,
.sweep-to-right:focus:before,
.sweep-to-right:active:before {
	transform: scaleX(1);
}

/*------- INDEX PAGE SECTION 3 (CSS STRUKTURA) ---------------*/

.css-struktura-page-bg {
	background-color: cornflowerblue;
	margin-left: calc(50% - 50vw);
	/*margin-top: -10px;*/
	/*margin-bottom: auto;*/
	height: 100%;
	padding: 20px;
	display: block;
	box-sizing: inherit;
	/*overflow: auto;*/
}

.komentar {
	font-family: "Itim";
	font-size: 1.5rem;
	background-color: #e0c7d5;
	max-width: fit-content;
	color: rgb(174, 13, 101);
}

.centrirano {
	text-align: center;
}

.image-css {
	text-align: center;
}

.css-grid-columns {
	display: grid;
	grid-template-columns: 40% 1fr;
	gap: 1rem;
	margin: 0 30px 0 30px;
}

.css-blok-2 {
	font-size: 14px;
}

@media only screen and (max-width: 600px) {
	.css-grid-columns {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 0;
		padding: 0;
	}
}

/*--------------FOOTER INDEX PAGE --------------*/
footer {
	background-color: rgb(184, 183, 237);
	margin: 0;
}

footer a {
	text-decoration: none;
	transition: 0.3s;
}

footer a:hover {
	color: rgb(234, 41, 224);
	text-decoration: none;
}

.index-footer-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

.index-footer-main {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.index-footer-columns {
	flex-grow: 1;
	text-align: center;
	font-size: 10px;
}

.index-footer-link {
	font-size: 14px;
}

@media only screen and (max-width: 1000px) {
	.index-footer-main {
		flex-direction: column;
	}
}

.containter-wrapp {
	min-height: 100%;
	/*height: auto !important;
	height: 100%;*/
	margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}

/*---------------------- END OF FOOTER INDEX PAGE -----------------------*/

/*----------- ELEMENTI HTML-a STRANICA -------------*/

.elementi-page-bg {
	background-color: #004e71;
	margin-left: calc(50% - 50vw);
	height: 100%;
	padding: 30px;
	display: block;
	box-sizing: inherit;
	color: #cbf7ff;
	/*početak animacije stranice*/
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-delay: -1s;
	animation-iteration-count: 1;
	animation-name: slideInLeft;
}

.nav-list-elementi {
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.logo-elementi {
	margin-right: auto;
}

table {
	border-collapse: collapse;
	border: solid rgb(119, 220, 202);
	font-family: "lexendlight", sans-serif;
	font-size: 1rem;
	box-shadow: 15px 8px 10px #354d3d;
	margin-left: auto;
	margin-right: auto;
}

.table-elementi caption {
	caption-side: top;
	font-family: "Playfair Display italic";
	font-size: 1.2rem;
}

.table-elementi thead {
	background-color: #a0d4fe;
	color: #fff;
	padding: 5px;
}

.table-elementi tbody {
	background-color: #d6dedc;
}

.table-elementi td,
.table-elementi th {
	border: 1px solid #e1f8d4;
	padding: 10px;
	text-align: center;
	color: #004e71;
}

.h1-dark {
	color: #a0d4fe;
	text-shadow: none;
	letter-spacing: 0.2rem;
}
.text-visio-code-dark {
	color: #d684ef;
}

/*animacija stranice*/
@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 700px) {
	body {
		font-size: smaller;
	}

	h1 {
		font-size: 1.5rem;
	}
	table {
		font-size: smaller;
	}
	.table-elementi caption {
		font-size: 0.8rem;
	}
}

/*----------- ATRIBUTI HTML-a STRANICA -------------*/

.atributi-page-bg {
	background-color: #fff7d6;
	margin-left: calc(50% - 50vw);
	height: 100%;
	padding: 30px;
	display: block;
	box-sizing: inherit;
	color: #bd5942;
}

.nav-list-atributi {
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.h2-dark {
	color: #4a4737;
	text-shadow: none;
}

/*---------------------BOX MODEL NA STRANICI CSSBOXMODEL----------------------------*/
/* the CSS BOX MODEL - slaže se po sljedećem redu:
	margin:
	border:
	padding: */

.box-cssboxmodel {
	background: rgb(187, 237, 187);
	width: fit-content;

	margin-top: 50px;
	margin-bottom: 40px;
	margin-left: 20px;

	border-left-width: 10px;
	border-left-color: rgb(27, 14, 209);
	border-left-style: solid;

	border-right-width: 20px;
	border-right-color: rgb(138, 68, 235);
	border-right-style: dotted;

	border-bottom-width: 15px;
	border-bottom-color: red;
	border-bottom-style: double;

	padding: 100px;
}

.box-lightbackground {
	color: rgb(27, 14, 209);
}

.box-elements {
	background-color: #464649;
	border: solid;
	border-radius: 10px;
	border-color: antiquewhite;
	padding: 20px;
	margin-block-start: 5px;
	width: fit-content;
}

/*-------------------- TABLICA NA STRANICI TABLICA-PRIMJER --------------*/

.kratki-naziv-tablice table {
	border-collapse: collapse;
	border: 1px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 14px;
}

.kratki-naziv-tablice caption {
	padding: 10px;
	caption-side: top;
	padding: 20px;
}

.kratki-naziv-tablice thead {
	background-color: #e5881c;
	color: #fff;
}

.kratki-naziv-tablice thead tr {
	height: 40px;
}

.kratki-naziv-tablice tbody {
	background-color: #5a7e1b;
}

.kratki-naziv-tablice td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 10px;
	text-align: center;
}

.kratki-naziv-tablice tfoot {
	background-color: #ae1cda;
}

/*------------------ TABLICA NA STRANICI SIMBOLI ZNAKOVI --------------------*/

.table-simboli-znakovi table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 0.8rem;
}

.table-simboli-znakovi caption {
	padding: 10px;
	caption-side: top;
}

.table-simboli-znakovi tbody {
	background-color: #1f5f2f;
}

.table-simboli-znakovi td,
.table-elementi th {
	border: 1px solid rgb(190, 190, 190);
	padding: 15px 30px;
	text-align: center;
}

/*------------------------------- END TABLICE------------------------*/

/*---------------------------------LISTE-----------------------------*/

/*list-none {
	list-style: "♠";
	list-style-position: outside !important;
}*/

.list-spade {
	list-style-type: none;
	margin-left: 0;
	padding-left: 30px;
	text-indent: -30px;
}

.list-spade2::before {
	content: "♠";
	color: rgb(227, 232, 93);
	display: inline-block;
	width: 30px;
	text-indent: 0;
	text-align: center;
}

/*-----------------------GRID U TABLICE---------------------------*/
.column-tablice {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	border: solid red;
}

/*------------???? -------------------------*/
.button {
	display: inline-block;
	min-width: fit-content;
	background: rgb(88, 86, 88);
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 10px;
}

.example {
	background-color: rgb(143, 197, 244);
	max-width: fit-content;
}
